.register {
  padding-top: 100px;
  max-width: 570px;
  margin: 0 auto 115px;
}
.register__links {
  text-align: center;
  margin-bottom: 40px;
}
.register__link {
  @include Roboto-400;
  font-size: 22px;
  color: #909090;
  text-transform: uppercase;
  margin: 0 30px;
}
.register__link_active {
  color: $accent-color;
}
.register__lebel {
  margin-bottom: 30px;
  display: block;
}
.register__input {
  display: block;
  width: 100%;
  background-color: $bg;
  margin-top: 5px;
  height: 60px;
  padding: 0 15px;
}
.register__btn{
display: block;
background-color: $tittle-color;
text-transform: uppercase;
color: #fff;
@include Roboto-400;
padding: 24px 0;
width: 100%;
margin: 20px 0;
}
.register__error {
  color: $accent-color;
}

.modal__text{
  margin-bottom: 25px;
}

// ----------------MEDIA--------------------


@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }
  }
 
  @media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  .top__container {
    background-position: 29% 15px !important;
  }
  }
 
 
  @media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  }
 
  @media (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 10px;
  }
  }
 
  @media (max-width: 576px){
    .modal__text,
    .register__lebel{
      font-size: 12px;
    }
    .register__btn {
      padding: 18px 0;
      height: 55px;
  }
  }
