

.shop {
  padding: 120px 0 300px;
}
.shop__inner {
  width: 370px;

}
.shop__filters {
  margin-right: 30px;
}

.filter__item {
  padding: 40px 28px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  transition: all 0.7s;
}

.filter__tittle {
  text-transform: uppercase;
  color: $tittle-color;
  font-size: 22px;
  @include Roboto-400;
  margin-bottom: 30px;
}
.filter-search__form {
  display: flex;
}
.filter-search__input {
  background-color: $bg;
  height: 50px;
  width: 260px;
  padding: 0 5px 0 15px;
}
.filter-search__btn {
  background-color: $accent-color;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.filter-price__form {
  margin-top: 30px;
}

.filter-price__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  
}
.filter-price__btn {
  @include btn;
  width: 100px;
  height: 40px;

}

#input-0{
  width: 25px;

}
#input-1{
    padding-right: 35px;
}

// ---------------------------------
// фильтр
.noUi-horizontal .noUi-handle{
  border-radius: 100%;
  height: 30px;
  width: 30px;
  box-shadow: (0 0 6.5px rgba(90,90,90,0.3));
  right: 0;
  top: -13px;
}
.noUi-handle:after, .noUi-handle:before{
  display: none;
}

.noUi-connect{
  height: 5px;
  background-color: $accent-color;
}
.noUi-target{
  width: 310px;
  height: 5px;
  background-color: #ececec;
}
// -----------------фильтр 2-------------------------

.filte-color__label:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }

.filte-color__label {
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  // у всех кроме 1-го
  & + .filte-color__label {
    padding-top: 20px;
  }
}
// добавмть span синий цвет
.filte-color__checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: -16px;
  margin-top: 7px;
}

// скрыть сам импут
.filte-color__input {
  @include checkbox-hidden;
  // если импут выбран, то у класса span появляется действие
  &:checked + .filte-color__checkbox{
    background: url(../img-file_import/icon/check-solid.svg) no-repeat center;
  }
}


.filte-color__checkbox_blue{
  background-color: #00aeef;
}
.filte-color__checkbox_Red{
  background-color: #f52574;
}
.filte-color__checkbox_Green{
  background-color: #24d4ac;
}
.filte-color__checkbox_Orange{
  background-color: #ff7e00;
}
.filte-color__checkbox_Black{
  background-color: #000000;
}
.filte-color__checkbox_Purple{
  background-color: #923899;
}

// -----------фильтр 3---------------------

.filter-category__label {
  margin-bottom: 15px;
  display: block;
  &:last-child{
    margin-bottom: 0;
  }
}
.filter-category__input {
  @include checkbox-hidden;
  // когда является соседом, ситуация изменится
  &:checked + .filter-category__checkbox{
    background-color: $accent-color;
    color: #fff;
  }
}
.filter-category__checkbox {
  background-color: #f6f6f6;
  color: $tittle-color;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

// ----------------фильтр 4-----------------------------

.filter-popular__label {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 8px;
  padding: 10px 0;
}
.filter-popular__input {
  @include checkbox-hidden;
  &:checked + .filter-popular__checkbox{
    background-color: $accent-color;
    border-color: $accent-color;
    color: #fff;
  }
}
.filter-popular__checkbox {
  border: 1px solid #8d8d8d;
  padding: 10px 20px;
}



// ---------------------CONTENT----------------------------
.shop__inner {
  position: absolute;
}



.shop-content{
  display: inline-block;
  margin-left: 400px;
  width: 100%;
  max-width: 780px;
}
.shop-content__filter-buttons{
  display: flex;
  align-items: center;
}
.shop-content__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #ececec;
  .product-item{
    margin-bottom: 40px;
  }
}

// активный элемент, для подсветки
.shop-content__filter-btn{
  background-color: transparent;
  margin-left: 15px;
  line-height: 0;
  // когда два класса вместе, тогда:
  &.shop-content__filter-btn_active{
    path{
      fill: $accent-color;
    }
  }
}




// стилизация выпадающего списка
.jq-selectbox__select{
  margin-left: 30px;
  height: 32px;
  padding: 0 30px 0 0px;
  background: transparent;
  border: 1px;
}
.jq-selectbox__trigger-arrow{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 5px;
 background: url(../../../img-file_import/icon/filter-down.webp);
}




.shop-content__filter{
    border: 1px solid #ececec;
    padding: 20px 25px 10px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 30px;
  margin-top: 50px;
}

.product-item {
  max-width: 370px;
  text-align: center;
  @include Roboto-400;
  color: $tittle-color;
  text-align: center;
  // если будет и тот и этот класс, то действую значения:
  &.product-item_list{
    min-width: 100%;
    display: flex;
    text-align: left;
    &:hover{
      .product-item__link-box{
        transform: translateY(-280%);
      }
    }
    .product-item__img-box{
      height: 250px;
      min-width: 200px;
      img{
        height: 250px;
      }
    }
    .product-item__box{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
  .product-item__link-box{
    background-color: transparent;
    width: 115px;
    box-shadow: none;
    bottom: auto;
    .product-item__link{
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .product-item__link_line{
      display: none;
    }
  }
  .product-item__content-box{
    display: block;
    line-height: 24px;
    margin-top: 10px;
  }
  .product-item__wrapper-box{
    padding: 30px 40px;
    border: 1px solid #ececec;
    height: 250px;
  }
  .product__star{
    margin-left: 23px;
    height: 0;
  }
  .product-item-price{
    order: -1;
  }
  .product-item-tittle {
    order: -1;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .product-item__text{
    margin-bottom: 20px;
  }
  .product-item__btn{
    @include btn;
    margin-left: 0;
    width: 130px;
    height: 45px;
    text-transform: none;
  }
}
}


.product-item__content-box{
  display: none;
}

.product-item:hover {
  .product-item__link-box {
    transition: all 0.3s;
    transform: translateY(0);
  }
}

.product-item__img-box {
  position: relative;
  height: 370px;
  max-width: 370px;
  overflow: hidden;
  margin-bottom: 22px;
}

.product-item__img {
  object-fit: cover;
}

.product-item__link-box {
  position: absolute;
  bottom: 50px;
  background-color: #fff;
  left: 0;
  right: 0;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: (0px 5px 15px rgba(152, 152, 152, 0.2));
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(300%);
}

// доп класс ссылке второму элементу
.product-item__link_line::before,
.product-item__link_line::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #ececec;
  top: 50%;
  transform: translateY(-50%);
}

.product-item__link_line::before {
  left: 70px;
}

.product-item__link_line::after {
  right: 70px;
}


.product-item__link {
  display: inherit;
}

.product-item__link:hover {
  path {
    fill: $accent-color;
    transition: all 0.3s;
  }
}

.product__star {
  margin: 0 auto;
  z-index: -1;
}

.product-item-tittle {
  font-size: 22px;
  margin-top: 15px;

}

.product-item-price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
 
}

.product-item__old {
  padding: 0 12px;
  color: #cfcfd1;
  text-decoration: line-through;
}

.product__link {
  text-transform: uppercase;
  color: $tittle-color;
  display: inline-block;
  border: 1px solid $accent-color;
  padding: 14px 27px;
  margin-top: 55px;
}

// если есть этот класс
.product-item_seil {
  .product-item__img-box::before {
    content: "SALE";
    @include btn;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 30px;
    filter: drop-shadow(0px 7px 10px rgba(255, 17, 48, 0.2));
    line-height: 31px;
    border-radius: 25px;
    display: flex;
    justify-content: center
  }
}
.shop-filters__btn{
@include btn;
    width: 110px;
    height: 40px;
    border-radius: 25px;
    display: none;
    img{
      height: 18px;
      width: 18px;
      margin-left: 5px;
    }

}


.shop-filters__btn-close {
  position: absolute;
  right: 15px;
  top: 8px;
  opacity: .8;
  display: none;
}
.shop-filters__btn-close_active{
  display: block;
  transition: all 0.9s;
}

.shop-filters__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  // прозрачность чтобы был виден контент
  opacity: 0.4;
  z-index: 2;
  transform: translateX(-200%);
  overflow: hidden;
  transition: all 0.9s;
}
.shop-filters__overlay_active{
  transform: translateX(0);
transition: all 0.9s;
}



// ----------------MEDIA--------------------


@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }
  .filter-price__label {
    align-items: flex-start;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.shop__inner {
  width: 263px;
 
}
.noUi-target {
  width: 195px;
}
#input-1 {
   padding-right: 0; 
}
#input-0 {
  width: 45px;
}
.filter-search__input {
  width: 165px;
  height: 40px;
}

  .shop-content {
    margin-left: 280px;
  }
  .shop-content__inner{
    column-gap: 30px;
    justify-content: start;
  }
  .product-item {
    width: 330px;
  }
  .shop-content__filter{
    max-width: 688px;
  }
  .filter-search__btn {
    height: 40px;
}
}


  @media (max-width: 992px){
  .container{
    max-width: 720px;
  }
 
  .shop-content {
    margin-left: 0;
}
.shop-filters__btn{
  bottom: 15px;
  display: block;
  position: fixed;
  z-index: 100;
  opacity: 0.75;
}
.filter-search__btn {
  height: 40px;
  width: 40px;
  }
  .filter-search__input {
    width: 209px;
}
.noUi-target {
  width: 249px;
}
.filter-price__label {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.shop__inner{
  transform: translateX(-200%);
  overflow: hidden;
  z-index: 99;
  background-color: #fff;
  width: 38%;
  transition: all 0.9s;
}
.shop__inner_active{
  display: block;
  transition: all 0.9s;
  transform: translateX(0);
}
.top__container {
  background-position: 29% 15px !important;
}
  }
  @media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .shop-content__inner {
    justify-content: center;
}
.shop__inner {
  width: 80%;
}
.product-item.product-item_list .product-item__text{
  line-height: 23px;
}
  }
 
  @media (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 10px;
  }
  }
  @media (max-width: 500px){
    .shop-content__filter {
      display: block;
  }
  .jq-selectbox__select{
    margin-left: 0;
    margin-top: 10px;
  }
  .pagination__arrows{
    display: none;
  }
  .product-item.product-item_list {
    text-align: center;
    flex-direction: column;
    border: 1px solid #ececec;
    padding: 15px 0;
}
.product-item.product-item_list .product-item__wrapper-box{
  border: 0;
}

.product-item__new{
margin-left: 70px;
}
  }



