// @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.header {
  padding: 40px 0;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}
.menu__list-item {
  
  padding-left: 35px;
  &:first-child{
    padding-left: 0;
  }
}

.menu__list-link {
  color: $tittle-color;
  @include Roboto-500;
  padding-bottom: 6px;
  &:hover{
    border-bottom: 1px solid $accent-color;
  }
}
.menu__list-link_active{
  color: $accent-color;
}

.user__nav {
  display: flex;
  position: relative;
}
.user-nav__link {
position: relative;
 padding-right: 25px;
}


.user-nav__num_left {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $accent-color;
  top: -9px;
  right: 13px;
}

.user-nav__num_right{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $accent-color;
  top: -9px;
  right: -10px;
}

.user-nav__num{
  font-size: 12px;
  color: #ffffff;
  font-family: "Quicksand";
  text-align: center;
  line-height: 1.6;
}
// -------------MENU-----------------------------------------------------------
// метод меню, сдвигания на 100% через класс active
.hamburger__wrapper{
  display: none;
}
.hamburger-menu {
  position: fixed;
 
  top: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
  // когда у блока появится класс актив, будут обратные значения
  &.active{
    top: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block{
    // будет выезжать с основным меню
    position: relative;
    width: 345px;
    height: 100%;
    padding: 140px 0 0 0px;
    transition: all 0.6s;
    z-index: 10;
  }
  }
  .hamburger-menu__close {
    position: absolute;
    top: 45px;
    right: 25px;
    cursor: pointer;
    opacity: 0.8;
    height: 20px;
    width: 20px;
  }
  .hamburger-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburger-menu__link {
    position: relative;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
   
    @include Roboto-500;
    a{
      color: $tittle-color;
    }
    
  }
  .hamburger-menu__link_active{
    border-bottom: 1px solid $accent-color;
   a{
    color: $accent-color;
    @include Roboto-700;
   }
  }
  
  
  
  .hamburger-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    // прозрачность чтобы был виден контент
    opacity: 0.97;
  }
  
  
  
   // ---------------------humburger--------------
  
   .humburger {
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // перевернет элемент
    align-items: flex-end;
    cursor: pointer;
    height: 23px;
    span{
      display: block;
      width: 30px;
      height: 2px;
      background: #151812;
    }
    span.humburger_long{
      width: 36px;
      height: 2px;
    }
  }
  
  /* Классы для анимации бургера */
  .humburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .humburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .humburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger-menu__link_active{
  
    border-bottom: 1px solid $accent-color;
    color: red !important;
    
  }

  .humburger.active{
    z-index: -1;
  }

// --------------------------------------MEDIA-------------------------------


@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }

  }
  
  @media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  .menu__list-link {
  font-size: 14px;
  }
.logo__img {
    width: 140px;
    height: auto;
}
  }
  
  @media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .menu__list-link {
    display: none;
    }
    .hamburger__wrapper{
      display: block;
    }
    .menu__list {
      display: block;
  }
  .header__wrapper {
    justify-content: center;
  }
  }
  
  @media (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 10px;
  }
  .header__wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin-bottom: 30px;
    padding-left: 11px;
  }
  .hamburger-menu__block{
    left: -172px;
  }

}

//  до 320 должно работать

