.page-404 {
  padding: 110px 0 120px;
}
.page-404__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-404__content {
  max-width: 570px;
  width: 100%;
}
.page-404__tittle {
  margin-bottom: 40px;
  text-align: left;
}
.page-404__text {
  margin-bottom: 60px;
  max-width: 470px;
  line-height: 26px;
}
.page-404__link {
  @include btn;
  padding: 14px 35px;
}
.header_page-404{
background-color: $bg;
}