.deal{
background: url(../img-file_import/deal_bg.webp) top center/cover no-repeat;
padding: 150px 0 160px;
text-align: center;
height: 1000px;
}
.deal__inner {

}
.deal__subtittle {
  color: $accent-color;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#deal__clock{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  column-gap: 15px;
}
.deal__clock-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  box-shadow: (0px 10px 20px rgba(187,187,187,0.3));
  span{
    font-size: 48px;
    @include Roboto-700;
    color: $tittle-color;
  }
}

.deal__link {
  text-transform: uppercase;
  color: $tittle-color;
  display: inline-block;
  border: 1px solid $accent-color;
  padding: 14px 27px;
  margin-top: 55px;
}
.partners {
  margin-top: 110px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

// ----------------MEDIA--------------------


@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }
  .deal {
    background-position: 36%;
}
  }
 
  @media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  .deal {
    background-position: 23%;
}
.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 35px;
  justify-items: center;
}
  }
 
 
  @media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .deal {
    background-position: 31%;
}
  }
 
  @media (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 10px;
  }
  .deal {
    padding-top: 70px;
    background-position: 30% 17%;
    background-size: auto;
    padding-bottom: 0;
}
.deal__clock-item {
  margin-bottom: 14px;
}
#deal__clock {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
  }
 
  @media (max-width: 576px){
    .deal {
      padding-top: 70px;
      background-position: 27% 17%;
  }
}