.fashion {
  background: url(../img-file_import/fashion_bg.webp) center center/cover no-repeat;
  padding: 125px 0;
}
.fashion__inner {
  display: flex;
}
.fashion__popup {
  margin-right: 60px;
  max-width: 530px;
  height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fashion__content {
max-width: 570px;

}
.fashion__subbtittle {
  margin-top: 80px;
  color: $accent-color;
  font-size: 22px;
  text-align: center;
}

.fashion__tittle {
  margin-top: 20px;
}
.fashion__text {
  margin-top: 20px;
}

 .fashion__link {
  @include btn;
 display: block;
 text-align: center;
 padding-top: 15px;
 margin: 60px auto;
}



// ----------------MEDIA--------------------


@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }
  .fashion__content {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fashion__text {
  line-height: 22px;
}
.fashion__link{
  margin: 13px auto;
}


  }
 
  @media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  body .fashion .fashion__popup{
    background-position: right;
  }
  .tittle {
    font-size: 36px;
    }
    .fashion__content {
      max-width: 300px;
  }
  .fashion__text {
    text-align: center;
  }
  }
 
 
  @media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .fashion__inner {
    display: flex;
    flex-direction: column-reverse;
}
.fashion__content {
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.fashion__subbtittle{
  margin-top: 0;
}
.fashion {
  padding: 30px 0;
}
.fashion__link{
  margin-bottom: 30px;
  @include btn-768;
  margin-top: 40px;
}
.fashion__popup {
  height: 380px;
  width: 100%;
}

  }
 
  @media (max-width: 576px){
  .container{
    width: 100%;
    padding: 0 10px;
  }
  .fashion__content {
    padding: 0 25px;
}
.tittle {
  font-size: 32px;
  }
  .fashion__subbtittle {
    font-size: 18px;
}
}
 
